.item-top-deposit{
    max-height: 82px;
}
.content-item-deposit{
    height: 200px;
    word-spacing: 2px;
    line-height: 23px;
    font-weight: 500;
    color: #484848d9;
    overflow-y: scroll;
}
.img-logo-deposit {
    width: 100%;
    height: 80px;

}
.item-deposit {
    max-width: 340px;
    margin-left: 15px;
    margin-right: 15px;
}

