#myElement {
    width: 100px;
    height: 100px;
    background-color: blue;
    text-align: center;
    color: white;
    line-height: 100px;
}

#myElement.ui-draggable-dragging {
    background-color: green;
}
#draggableElement1, #draggableElement2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    text-align: center;
    color: white;
    line-height: 100px;
    float: left;
}

#draggableElement2 {
    background-color: green;
}

#droppableElement {
    width: 100px;
    height: 70px;
    border: 1px dashed red;
    text-align: center;
    color: red;
    padding-top: 30px;
    float: right;
}

.hovered {
    background-color: gray;
}











body,html{width:100%;height:100%;padding:0;margin:0;}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
#main{
    background-color: BurlyWood;
    float: right;
    height:200px;
    width: 75%;
}
#sidebar{
    background-color: IndianRed;
    width:25%;
    float: left;
    height:200px;
    overflow-y: hidden;
}

#dragbar{
    background-color:black;
    height:100%;
    float: right;
    width: 5px;
    cursor: col-resize;
}
#ghostbar{
    width:3px;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999}